<div *ngIf="item">
  <form class="well" #myCurrentForm="ngForm">
    <div class="form-group row">
      <label for="name" class="col-lg-2 col-form-label-lg">Nome</label>
      <div class="form-group col-lg-4">
        <input type="text" id="name" [(ngModel)]="item.name" name="name"
         class="form-control" placeholder="Nome...">
      </div>

      <label for="IdMobile1" class="col-lg-2 col-form-label-lg">Mobile 1</label>
      <div class="form-group col-lg-4">
        <input type="text" id="IdMobile1" [(ngModel)]="item.mobile1" name="mobile1" class="form-control" placeholder="Mobile 1...">
      </div>
    </div>
    <div class="form-group row">
      <label for="cittasorgente" class="col-lg-2 col-form-label">Città di carico</label>
      <div class="form-group col-lg-3">
        <input type="text" id="cittasorgente" [(ngModel)]="source.city"
         class="form-control" name="city" placeholder="Città di carico" (setAddress)="getAddress($event)" googleplace  required>
      </div>
      <div *ngIf="formErrors.source.city" class="alert alert-danger">
        {{ formErrors.source.city }}
      </div>
      <label for="nationsorgente" class="col-lg-2 col-form-label">Nazione di carico</label>
      <div class="form-group col-lg-3">
        <input type="text" id="nationsorgente" [(ngModel)]="source.nation" name="nationSource" class="form-control" placeholder="Nazione di carico...">
      </div>
    </div>
    <div class="form-group row">
      <label for="tipocamion" class="col-lg-2 col-form-label">Tipo camion</label>
      <div class="form-group col-lg-3">

        <select class="form-control" name="tipocamion" required #tipocamion="ngModel" [(ngModel)]="item.tipocamion">
				<option value="">Seleziona tipo camion</option>
				<option *ngFor="let data of tipicamionList"
						[value]="data._id">{{data.name}}
				</option>
			</select>
      </div>
      <div *ngIf="formErrors.source.city" class="alert alert-danger">

      </div>

    </div>

    <!--
    <div class="form-group row">
      <label for="cityDest" class="col-lg-2 col-form-label">Città di scarico</label>
      <div class="form-group col-lg-3">
        <input type="text" googleplace id="cittaDestinazione" (setAddress)="getAddress($event)" [(ngModel)]="item.destination.city"
          name="cityDest" class="form-control" placeholder="Città di destinazione..."
           required>
      </div>
      <div *ngIf="formErrors.source.city" class="alert alert-danger">
        {{ formErrors.destination.city }}
      </div>
      <label for="nationDest" class="col-lg-2 col-form-label">Nazione di scarico</label>
      <div class="form-group col-lg-3">
        <input type="text" id="nationDest" [(ngModel)]="item.destination.nation" name="nationDest" class="form-control" placeholder="Nazione di sitem...">
      </div>
    </div>
    <div class="form-group row">
      <label for="idcompany">Company</label>
      <select class="form-control" name="idcompany" required #idcompany="ngModel" 
      [(ngModel)]="item.idcompany">
				<option value="">Seleziona la compagnia</option>
				<option *ngFor="let data of companylist"
						[value]="data.name">{{data.name}}
				</option>
			</select>
    -->
    <div class="form-group col-lg-1">
      <input type="button" [disabled]="!myCurrentForm.form.valid" (click)="save(item)" value="Salva" class="btn btn-success">
    </div>
    <div class="form-group col-lg-1">
      <input type="button" (click)="annulla()" value="Annulla" class="btn btn-danger">
    </div>


    <h2> Dati da selezione {{item | json}}</h2>
  </form>
  <hr>
  <h1> {{logMessage}}</h1>
  <hr>
</div>
