<form class="form-inline well">
  <div class="row">
    <label for="IdName" class="col-lg-1 col-form-label-lg">Name</label>
    <div class="form-group col-lg-3">
      <input type="text" id="IdName" [(ngModel)]="title" name="Name" class="form-control" placeholder="Add Name...">
    </div>
    <label for="IdNote" class="col-lg-2 col-form-label-lg">Note</label>
    <div class="form-group col-lg-4">
      <input type="textarea" id="IdNote" [(ngModel)]="note" name="Note" class="form-control" placeholder="Note...">
    </div>

    <div class="form-group col-lg-1">
      <input type="button" (click)="add($event)" value="Aggiungi" class="btn btn-success">
    </div>
  </div>
</form>

<hr>
<div class="container">
  <div class="row">
    <div *ngFor="let company of companies">
      <div class="col-xs-3">
        <div class="project project-default">
          <div class="shape">
            <div class="shape-text">
              {{company.name}}
            </div>
          </div>
          <div class="project-content">
            <h3 class="lead">
              <i class="material-icons">business</i> {{company.name}}
            </h3>
            <input type="text" value={{company.name}}>
            <input type="textarea" value={{company.note}} placeholder="Aggiungi note...">
            <input type="text" value={{company.mobile1}} placeholder="Mobile 1...">
            <input type="text" value={{company.mobile2}} placeholder="Mobile 2...">
            <input type="text" value={{company.email}} placeholder="Email...">

            <input type="button" (click)="updateCompany(company)" value="Save" class="btn btn-primary btn-update btn-add-card">
            <input type="button" (click)="delete(company)" value="Delete" class="btn btn-danger"> {{company.creationDate}}
            {{company.updateDate}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>