<h1>
  {{title}}
</h1>

<nav class="navbar navbar-inverse bg-primary">
    <div class="container">
        <a class="navbar-brand"></a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/companies">Compagnie</a></li> 
            <li class="nav-item"><a class="nav-link" routerLink="/carichi">Inserisci carichi</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/configuration/tipicamion">configura tipi camion</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/searchmacchina">Search macchina</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/searchThings">Search Goods to be transported</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/companylist">Lista carichi disponibili</a></li>
            
            <li class="nav-item"><a class="nav-link" routerLink="/about">A bout</a></li>
        </ul>
    </div>
</nav>
<br>
<br>
<br>
<router-outlet></router-outlet>
