@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
body {
  font-family: 'Nunito', sans-serif;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  max-width: 660px;
  margin: 0 auto 1.2em auto;
}

.box-header {
  width: 100%;
  color: white;
  background-color: #414EF9;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
   
  
  align-items: center;
  padding: 1em 0;
}
   

 .price-panel,
 .price-panel>.panel-heading {
   -webkit-transition: all .3s ease;
   -moz-transition: all .3s ease;
   -o-transition: all .3s ease;
   transition: all .3s ease;
 }

 .price-panel:hover {
   box-shadow: 0 0 30px rgba(0, 0, 0, .2);
 }

 .price-panel:hover>.panel-heading {
   box-shadow: 0 0 30px rgba(0, 0, 0, .2) inset;
 }

 .price-panel>.panel-heading {
   color: white;
   text-shadow: 0 3px 0 rgba(50, 50, 50, .6);
   border-radius: 0;
   box-shadow: 0 5px 0 rgba(50, 50, 50, .2) inset;
 }


   
.box-header h3 {
    
  text-align: center;
  color: #fff;
  font-size: 28px;
}

.box-header .header-item {
  margin: 0 1.2em;
  font-size: 16px;
  text-align: center;
  border: 2px;
  
}
.twPc-divStats {
    margin-left: 11px;
    padding: 10px 0;
}
 .twPc-block {
    display: block !important;
}
.twPc-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 10;
    min-width: 100%;
    min-height: 100%;
    padding: 0;
    table-layout: auto;
}
ul.twPc-Arrange {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.twPc-ArrangeSizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.twPc-ArrangeSizeFit a:hover {
    text-decoration: none;
}
.twPc-StatValue {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}
.twPc-StatLabel {
    color: gray;
    font-size: 10px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}

.box-header .header-item span {
  margin-right: 1em;
  color: white;
  font-size: 16px;
}

.card-base > .card-icon {
        text-align: center;
        position: relative;
    }

.imagecard { 
    z-index: 2;
    display: block;
    positioN: relative;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 0 auto;
    color: white;
}
.card-base > .card-icon > .card-data {
    min-height: 250px !important;
    margin-top: -24px;
    background: ghostwhite;
    border: 1px solid #e0e0e0;
    padding: 15px 0 10px 0;
     box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    min-height: 215px;
    }
    #widgetCardIcon {
        background: cornflowerblue !important;
        font-size: 28px;
        line-height: 78px;
    }
